node_modules
.idea

#Hardhat files
cache
artifacts
typechain-types
deployments
/frontend/contracts/Auction.ts
/frontend/contracts/FHERC20.ts
/frontend/.nuxt
/backend/records
/frontend/contracts/FHERC20_DEPLOY.json
/frontend/contracts/Auction.json
